<template>
  <div
    :id="id"
    class="fr-search-bar"
    :class="{ 'fr-search-bar--lg': large }"
    role="search"
  >
    <label class="fr-label" :for="id"><slot>Recherche</slot></label>
    <input
      :id="id"
      class="fr-input"
      :class="{ 'background-white': bgLight }"
      :placeholder="placeholder"
      :value="value"
      type="search"
      :name="id"
      @input="search"
      @blur="emitBlur"
    />
    <button class="fr-btn" title="Rechercher" @click="emitButtonClick">
      Rechercher
    </button>
  </div>
</template>

<script>
export default {
  name: 'FrSearch',

  props: {
    id: {
      type: String,
      required: true,
    },
    value: {
      type: String,
      required: true,
    },
    placeholder: {
      type: String,
      default: 'Rechercher',
    },
    large: {
      type: Boolean,
      default: false,
    },
    bgLight: {
      type: Boolean,
      default: false,
    },
  },

  methods: {
    search({ target }) {
      this.$emit('input', target.value);
    },
    emitBlur() {
      this.$emit('input:blur');
    },
    emitButtonClick() {
      this.$emit('button:click');
    },
  },
};
</script>

<style scoped>
.background-white {
  background-color: #fff;
}
</style>
