<template>
  <section class="fr-accordion">
    <h3 class="fr-accordion__title">
      <button
        class="fr-accordion__btn"
        :aria-expanded="value"
        :aria-controls="id"
        type="button"
        @click="toggleExpanded()"
      >
        <slot name="title">
          {{ title }}
        </slot>
      </button>
    </h3>
    <div
      :id="id"
      class="fr-collapse"
      :class="{
        'fr-collapse--expanded': value,
        'anct-bg-blue': collapseBlue,
      }"
    >
      <slot />
    </div>
  </section>
</template>

<script>
export default {
  name: 'FrAccordion',

  props: {
    id: {
      type: String,
      required: true,
    },
    title: {
      type: String,
      default: null,
    },
    value: {
      type: Boolean,
      default: false,
    },
    collapseBlue: {
      type: Boolean,
      default: false,
    },
  },

  methods: {
    toggleExpanded() {
      this.$emit('input', !this.value);
    },
  },
};
</script>

<style scoped>
.fr-collapse--expanded {
  max-height: none !important;
}
</style>
