<template>
  <nuxt-link
    :to="to"
    tag="button"
    class="fr-btn fr-text--md fr-grid-row fr-grid-row--middle"
    :class="{ 'anct-border-rounded': rounded, expanded }"
  >
    <span class="fr-col"
      ><strong><slot /></strong
    ></span>
    <span class="fr-fi-arrow-right-line fr-ml-1w" aria-hidden="true"></span>
  </nuxt-link>
</template>

<script>
export default {
  name: 'FrLinkButton',

  props: {
    to: {
      type: Object,
      required: true,
    },
    rounded: {
      type: Boolean,
      default: false,
    },
    expanded: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style scoped>
.expanded {
  width: 100%;
}
</style>
