@import "@gouvfr/dsfr/dist/dsfr/dsfr.css";

.anct-text-main {
  color: var(--blue-france-main-525);
}

.anct-text-blue {
  color: var(--blue-france-sun-113-625)
}

.anct-text-green {
  color: #169B62;
}

.anct-text-xxl {
  font-size: 32px;
}

.anct-text-center {
  text-align: center;
}

.anct-text-right {
  text-align: right;
}

.anct-border-primary {
  border: 1px solid var(--border-default-grey);
}

.anct-border-main {
  border: 1px solid var(--blue-france-main-525);
}

.anct-border-square {
  border-radius: 0;
}

.anct-border-rounded {
  border-radius: 25px;
}

.anct-border-dashed {
  border-style: dashed;
}

.anct-bg-blue {
  background-color: var(--background-alt-blue-france);
}

.anct-bg-blue--darker {
  background-color: #E3E3FD;
}

.anct-bg-gray {
  background-color: #F9F8F6;
}

.anct-bg-transparent {
  background-color: transparent;
}

.anct-flex-center {
  display: flex;
  align-items: center;
}

.anct-flex-between {
  display: flex;
  justify-content: space-between;
}

.anct-flex-end {
  display: flex;
  justify-content: flex-end;
}

.anct-flex-wrap {
  flex-wrap: wrap;
}

.anct-link-no-underline {
  background-position: unset !important;
  background-image: unset !important;
}

.anct-link-no-target-decoration::after {
  content: ''
}

.anct-break-word {
  word-break: break-word
}

feedback-widget {
  right: 24px !important;
  bottom: 24px !important;
}

feedback-widget [href] {
  background-position: unset;
}

feedback-widget [href]:hover {
  background-color: #000091;
}

@media screen and (max-width: 800px) {
  feedback-widget [href] {
    background-position: center;
    background-image: url(https://incubateur-territoires.github.io/feedback-widget/images/mobile.svg);
    background-size: unset;
  }
}

