<template>
  <div>
    <div id="solution-header" class="fr-col-lg-10">
      <FrTitle larger>
        {{ solution.title }}
      </FrTitle>
      <section class="anct-html-content fr-my-5w">
        <div v-html="markdownToHTML(solution.introduction)" />
      </section>
    </div>

    <div id="solution" class="anct-html-content">
      <section class="fr-mb-5w anct-bg-blue">
        <div class="fr-col-lg-8 fr-py-4w fr-pl-5w" v-html="solution.target" />
      </section>

      <section class="fr-mb-5w">
        <div class="fr-col-lg-8" v-html="solution.description" />
      </section>

      <section v-if="solution.highlight" class="fr-mb-5w anct-bg-blue">
        <div class="fr-py-4w fr-pl-5w">
          <div
            class="fr-col-lg-8"
            v-html="solution.highlight"
          />
          <FrLinkButton
            v-if="solution.highlight_contact_button"
            :to="{ name: 'contact' }"
            class="fr-mt-3w"
            rounded
            @click.native="trackClick"
          >
            {{solution.highlight_contact_button}}
          </FrLinkButton>
        </div>
      </section>
      <section v-if="solution.detail" class="fr-mb-5w">
        <div class="fr-col-lg-8" v-html="solution.detail" />
        <FrLinkButton
          v-if="solution.detail_catalog_button"
          :to="{ name: 'services' }"
          class="fr-mt-3w"
          rounded
          @click.native="trackClick"
        >
            {{solution.detail_catalog_button}}
        </FrLinkButton>
      </section>

      <section v-if="solution.additional_info" class="fr-mb-5w">
        <div class="fr-col-lg-8 fr-mb-5w" v-html="solution.additional_info" />
        <div
          v-if="solution.video"
          class="anct-video-container"
        >
          <iframe
            :src="solution.video"
            title="YouTube video player"
            allow="accelerometer;
            clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          >
          </iframe>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import { marked } from 'marked';
import FrLinkButton from '~/components/ui/LinkButton';
import FrTitle from '~/components/ui/Title';

export default {
  name: 'SolutionItemPage',

  components: { FrLinkButton, FrTitle },

  async asyncData({ $axios, params, redirect }) {
    const { data } = await $axios.$get('/items/offres', {
      params: {
        fields:
          'introduction,target,title,description,highlight,highlight_contact_button,detail,detail_catalog_button,additional_info,video',
        filter: { slug: { _eq: params.slug } },
      },
    });

    const [solution] = data;

    if (!solution) {
      return redirect({ name: 'offre' });
    }

    return {
      solution,
    };
  },

  methods: {
    markdownToHTML(markdown) {
      return marked.parse(markdown);
    },
  },
};
</script>

<style scoped>
/deep/ .anct-html-content p {
  font-size: inherit;
  margin-bottom: 0;
}

/deep/ .anct-html-content ol,
/deep/ .anct-html-content ul {
  margin-left: 24px;
  margin-bottom: 16px;
}

.anct-video-container {
  height: 0;
  overflow: hidden;
  padding-bottom: 50%;
  position: relative;
}

.anct-video-container iframe {
  height: 100%;
  left: 0;
  max-width: 800px;
  position: absolute;
  top: 0;
  width: 100%;
  border: none;
}
</style>
