<template>
  <div>
    <FrTitle v-if="error.statusCode === 404" black class="fr-col-lg-8">
      Les offres et services de l'incubateur ont évolué, cette page n'existe
      plus
    </FrTitle>
    <h1 v-else>Une erreur est survenue</h1>
    <NuxtLink class="fr-link fr-fi-arrow-right-line fr-link--icon-right" to="/"
      >Retour à l'accueil</NuxtLink
    >
  </div>
</template>

<script>
import FrTitle from '~/components/ui/Title';

export default {
  components: { FrTitle },
  layout: 'error',
  props: ['error'],
};
</script>
