<template>
  <div>
    <FrTitle class="fr-mb-6w anct-html-content" larger
      >Mentions légales</FrTitle
    >

    <section class="fr-col-lg-8" v-html="content" />
  </div>
</template>

<script>
import FrTitle from '~/components/ui/Title';

export default {
  name: 'LegalsPage',

  components: { FrTitle },

  async asyncData({ $axios }) {
    const { data } = await $axios.get('/items/pages', {
      params: {
        fields: 'content',
        filter: { slug: { _eq: 'mentions-legales' } },
      },
    });

    const { content } = data.data[0];

    return {
      content,
    };
  },

  data() {
    return {
      content: '',
    };
  },
};
</script>

<style scoped>
/deep/ .anct-html-content blockquote {
  margin-left: 0;
  border-left: 4px solid var(--blue-france-main-525);
  padding-left: 16px;
}

/deep/ .anct-html-content blockquote p {
  margin-bottom: 0;
}

/deep/ .anct-html-content blockquote p strong {
  font-weight: normal;
}

/deep/ .anct-html-content ul,
/deep/ .anct-html-content ol {
  margin-left: 24px;
  margin-bottom: 16px;
}

/deep/ .anct-html-content ul p {
  margin-bottom: 8px;
}

/deep/ .anct-html-content h2 {
  margin-top: 48px;
}
</style>
