<template>
  <p
    class="fr-tag"
    :class="{
      [`fr-tag--${size}`]: size,
      'fr-tag--icon-left': iconLeft,
      [iconClass]: iconLeft,
    }"
  >
    {{ label }}
  </p>
</template>

<script>
export default {
  name: 'FrTag',

  props: {
    label: {
      type: String,
      required: true,
    },
    iconClass: {
      type: String,
      default: null,
    },
    iconLeft: {
      type: Boolean,
      default: false,
    },
    size: {
      type: String,
      default: null,
    },
  },
};
</script>
